[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=Whisker Menu
Name[ar]=قائمة Whisker
Name[ca]=Menu Whisker
Name[de]=Whisker Menü
Name[el]=Μενού Whisker
Name[es]=Whisker Menu
Name[fr]=Menu Whisker
Name[he]=תפריט זיף
Name[id]=Menu Whisker
Name[it]=Menu Whisker
Name[ms]=Menu Whisker
Name[pl]=Whisker Menu
Name[ro]=Meniu Whisker
Name[ru]=Меню Whisker
Name[sv]=Whiskermeny
Name[tr]=Gözde Menü
Name[vi]=Menu Tách Biệt
Comment=Show a menu to easily access installed applications
Comment[ar]=عرض القائمة لوصول إلى التطبيقات المثبتة بكل سهولة
Comment[ca]=Mostra un menú per accedir facilment a les aplicacions instal·lades
Comment[de]=Zeige ein Menü um installierte Programme einfach zugänglich zu machen
Comment[el]=Εμφάνιση ενός μενού για την γρήγορη πρόσβαση στις εγκατεστημένες εφαρμογές.
Comment[es]=Muestra un menú para acceder fácilmente a las aplicaciones instaladas
Comment[fr]=Affiche un menu pour accéder facilement aux applications installées
Comment[he]=תפריט לגישה קלה ליישומים מותקנים
Comment[id]=Tampilkan menu untuk mempermudah akses aplikasi yang terpasang
Comment[it]=Mostra un menu per accedere facilmente le applicazioni installate
Comment[ms]=Tunjuk menu untuk capai aplikasi terpasang dengan mudah
Comment[pl]=Pokaż menu łatwego dostępu do zainstalowanych aplikacji
Comment[ro]=Arată un meniu pentru a accesa ușor aplicațiile instalate
Comment[ru]=Показывает меню для простого доступа к установленным приложениям
Comment[sv]=En meny för att visa dina installerade program
Comment[tr]=Kurulu uygulamalara kolay erişim menüsünü göster
Comment[vi]=Hiển thị menu để dễ dàng truy cập tới các ứng dụng đã cài đặt
Icon=xfce4-whiskermenu
X-XFCE-Module=whiskermenu
X-XFCE-Internal=false
