[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=Whisker Menu
Name[de]=Whisker Menü
Name[es]=Whisker Menu
Name[he]=תפריט זיף
Name[id]=Menu Whisker
Name[it]=Menu Whisker
Name[ro]=Meniu Whisker
Name[tr]=Gözde Menü
Comment=Show a menu to easily access installed applications
Comment[de]=Zeige ein Menü um installierte Programme einfach zugänglich zu machen
Comment[es]=Muestra un menú para acceder fácilmente a las aplicaciones instaladas
Comment[he]=תפריט לגישה קלה ליישומים מותקנים
Comment[id]=Tampilkan menu untuk mempermudah akses aplikasi yang terpasang
Comment[it]=Mostra un menu per accedere facilmente le applicazioni installate
Comment[ro]=Arată un meniu pentru a accesa ușor aplicațiile instalate
Comment[tr]=Kurulu uygulamalara kolay erişim menüsünü göster
Icon=xfce4-whiskermenu
X-XFCE-Module=whiskermenu
X-XFCE-Internal=false
