[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=Whisker Menu
Name[ar]=قائمة Whisker
Name[bg]=Whisker Меню
Name[ca]=Menú Whisker
Name[da]=Whisker Menu
Name[de]=Whisker Menü
Name[el]=Μενού Whisker
Name[es]=Menú Whisker
Name[fr]=Menu Whisker
Name[he]=תפריט זיף
Name[hu]=Whisker Menü
Name[id]=Menu Whisker
Name[it]=Menu Whisker
Name[ja]=Whisker Menu
Name[kk]=Whisker мәзірі
Name[ms]=Menu Whisker
Name[nb]=Whisker-meny
Name[nl]=Whiskermenu
Name[pl]=Whisker Menu
Name[pt]=Menu Whisker
Name[pt_BR]=Menu Whisker
Name[ro]=Meniu Whisker
Name[ru]=Меню Whisker
Name[sk]=Whisker Menu
Name[sv]=Whiskermeny
Name[tr]=Gözde Menü
Name[vi]=Menu Tách Biệt
Comment=Show a menu to easily access installed applications
Comment[ar]=عرض القائمة لوصول إلى التطبيقات المثبتة بكل سهولة
Comment[bg]=Показване на меню за лесен достъп до инсталираните приложения
Comment[ca]=Mostra un menú per accedir fàcilment a les aplicacions instal·lades
Comment[da]=Vis en menu for hurtig adgang til applikationer
Comment[de]=Zeige ein Menü um installierte Programme einfach zugänglich zu machen
Comment[el]=Εμφάνιση ενός μενού για την γρήγορη πρόσβαση στις εγκατεστημένες εφαρμογές.
Comment[es]=Muestra un menú para acceder fácilmente a las aplicaciones instaladas
Comment[fr]=Affiche un menu pour accéder facilement aux applications installées
Comment[he]=תפריט לגישה קלה ליישומים מותקנים
Comment[hu]=Menü megjelenítése a telepített alkalmazások egyszerű eléréséhez.
Comment[id]=Tampilkan menu untuk mempermudah akses aplikasi yang terpasang
Comment[it]=Mostra un menu per accedere facilmente le applicazioni installate
Comment[ja]=インストールされているアプリケーションに簡単にアクセスできるメニューを表示します
Comment[kk]=Орнатылған қолданбаларға қатынау үшін қарапайым мәзірді көрсету
Comment[ms]=Tunjuk menu untuk capai aplikasi terpasang dengan mudah
Comment[nb]=Vis en meny for enkel tilgang til installerte applikasjoner
Comment[nl]=Toon een menu om geïnstalleerde toepassingen makkelijk te kunnen benaderen
Comment[pl]=Pokaż menu łatwego dostępu do zainstalowanych aplikacji
Comment[pt]=Mostra um menu um rápido acesso às aplicações instaladas
Comment[pt_BR]=Mostra um menu para facilmente acessar os aplicativos instalados
Comment[ro]=Arată un meniu pentru a accesa ușor aplicațiile instalate
Comment[ru]=Показывает меню для простого доступа к установленным приложениям
Comment[sk]=Zobrazí menu na ľahký prístup k nainštalovaným aplikáciám
Comment[sv]=En meny för att visa dina installerade program
Comment[tr]=Kurulu uygulamalara kolay erişim menüsünü göster
Comment[vi]=Hiển thị menu để dễ dàng truy cập tới các ứng dụng đã cài đặt
Icon=xfce4-whiskermenu
X-XFCE-Module=whiskermenu
X-XFCE-Internal=false
