[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=Whisker Menu
Name[ar]=قائمة Whisker
Name[ast]=Menú Whisker
Name[bg]=Whisker Меню
Name[ca]=Menú Whisker
Name[cs]=Whisker Menu
Name[da]=Whisker Menu
Name[de]=Whisker-Menü
Name[el]=Μενού Whisker
Name[en_GB]=Whisker Menu
Name[es]=Menú Whisker
Name[et]=Whisker Menüü
Name[fa]=منوی Whisker
Name[fi]=Whisker-valikko
Name[fr]=Menu Whisker
Name[he]=תפריט זיף
Name[hr]=Whisker Izbornik
Name[hu]=Whisker Menü
Name[id]=Menu Whisker
Name[it]=Menu Whisker
Name[ja]=Whisker Menu
Name[kk]=Whisker мәзірі
Name[lv]=Whisker izvēlne
Name[ms]=Menu Whisker
Name[nb]=Whisker-meny
Name[ne]=विस्कर मेनु
Name[nl]=Whiskermenu
Name[pl]=Menu Whisker
Name[pt]=Menu Whisker
Name[pt_BR]=Menu Whisker
Name[ro]=Meniu Whisker
Name[ru]=Меню Whisker
Name[sk]=Whisker Menu
Name[sl]=Whisker meni
Name[sr]=Бркин изборник
Name[sr@latin]=Brkin izbornik
Name[sv]=Whisker Meny
Name[tr]=Whisker Menü
Name[uk]=Whisker Меню
Name[uz]=Whisker menyusi
Name[vi]=Thực đơn Whisker
Name[zh_CN]=Whisker 菜单
Name[zh_TW]=Whisker 選單
Comment=Show a menu to easily access installed applications
Comment[ar]=إظهار قائمة لولوج إلى التطبيقات المثبتة بسهولة
Comment[ast]=Amuesa un menú p'acceder cenciellamente a les aplicaciones instalaes
Comment[bg]=Показване на меню за лесен достъп до инсталираните приложения
Comment[ca]=Mostra un menú per accedir fàcilment a les aplicacions instal·lades
Comment[cs]=Ukázat menu pro lehký přístup k instalovaným aplikacím
Comment[da]=Vis en menu for hurtig adgang til applikationer
Comment[de]=Zeigt ein Menü, um einfach auf installierte Anwendungen zuzugreifen
Comment[en_GB]=Show a menu to easily access installed applications
Comment[es]=Mostrar un menú para acceder fácilmente a las aplicaciones instaladas
Comment[fa]=نمایش یک منو برای دسترسی آسان به برنامه‌های نصب‌شده
Comment[fi]=Näytä valikko, josta on helppo pääsy asennettuihin sovelluksiin
Comment[fr]=Afficher un menu pour accéder facilement aux application installées
Comment[he]=הצג תפריט כדי לגשת בקלות אל יישומים מותקנים
Comment[hr]=Prikaži izbornik da bi lakše pristupili instaliranim aplikacijama
Comment[hu]=menü megjelenítése a telepített alkalmazások könnyű eléréséhez
Comment[id]=Tampilkan menu untuk mempermudah akses aplikasi yang terinstal
Comment[it]=Mostra un menu per accedere facilmente le applicazioni installate
Comment[ja]=インストールされているアプリケーションに簡単にアクセスできるメニューを表示します
Comment[kk]=Орнатылған қолданбаларға қатынау үшін қарапайым мәзірді көрсету
Comment[lv]=Rādīt izvēlni ērtākai piekļuvei programmām
Comment[ms]=Tunjuk menu untuk capai aplikasi terpasang dengan mudah
Comment[nb]=Vis en meny for enkel tilgang til installerte applikasjoner
Comment[ne]=स्थापित अनुप्रयोगहरुको सहज पहुचको लागी एक मेन्यू देखाउनुहोस्
Comment[nl]=Toon een menu om geïnstalleerde toepassingen eenvoudig te benaderen
Comment[pl]=Wyświetla aktywatory zainstalowanych programów rozmieszczone w menu
Comment[pt]=Mostrar menu para fácil acesso às aplicações instaladas
Comment[pt_BR]=Apresenta um menu para acessar facilmente os aplicativos instalados
Comment[ro]=Arată un meniu pentru a accesa ușor aplicații instalate
Comment[ru]=Показывает меню для простого доступа к установленным приложениям
Comment[sk]=Zobrazí menu ja jednoduché prechádzanie nainštalovanými aplikáciami
Comment[sl]=Prikaži meni za preprost dostop do nameščenih programov
Comment[sr]=Приказуј изборник за брзи приступ уграђеним програмима
Comment[sr@latin]=Prikazuj izbornik za brzi pristup ugrađenim programima
Comment[sv]=Visa en meny för att enkelt komma åt installerade program
Comment[tr]=Kolayca yüklenen uygulamalara erişmek için bir menü göster
Comment[uk]=Показ меню для легкого доступу до програм
Comment[uz]=O'rnatilgan dasturlardan erkin foydalanish uchun menyu ko'rsatish
Comment[vi]=Hiển thị thực đơn để chạy ứng dụng dễ dàng
Comment[zh_CN]=显示一个易于访问已安装程序的菜单
Comment[zh_TW]=顯示選單以方便開啟已安裝的應用程式
Icon=xfce4-whiskermenu
X-XFCE-Module=whiskermenu
X-XFCE-Internal=false
